Survivor: Nicaragua:::Survivor
62nd Primetime Emmy Awards:::The Emmy Awards
2010 MTV Video Music Awards:::MTV Video Music Awards 
2010 World Series of Poker:::World Series of Poker
Hawaii Five-0:::Hawaii Five-0 (2010)
The Amazing Race 17:::The Amazing Race
